#welcome-text {
  display: flex;
  justify-content: center;
  font-family: HarryPotter;
  font-weight: bold;
}

@font-face {
  font-family: HarryPotter;
  src: url(HARRYP__.TTF);
}

body {
  display: flex;
  background-image: url('/assets/images/imgbin_harry-potter-hogwarts-gryffindor-slytherin-house-png.png');
  justify-content: center;
  background-size: cover;
}

.form-label {
  background-color: black;
  color: white;
  padding: 5px;
  font-family: HarryPotter;
  font-size: x-large;
}

#house-container {
  display: flex;
  justify-content: flex-end;
}

#Slytherin {
  font-family: HarryPotter;
  background-color: green;
  color: silver;
}

#hufflepuff {
  font-family: HarryPotter;
  background-color: yellow;
  color: black;
}

#Gryffindor {
  font-family: HarryPotter;
  background-color: gold;
  color: red
}

#Ravenclaw {
  font-family: HarryPotter;
  background-color: blue;
  color: brown;
}

#select-all {
  font-family: HarryPotter;
  background-color: white;
  color: black;
}
