#welcome-text {
  display: flex;
  justify-content: center;
  font-family: HarryPotter;
  font-weight: bold;
  color: white;
}

@font-face {
  font-family: HarryPotter;
  src: url(HARRYP__.TTF);
}

body {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  background-image: url('/assets/images/imgbin_harry-potter-hogwarts-gryffindor-slytherin-house-png.png');
  justify-content: center;
  background-size: cover;
}

.form-label {
  background-color: black;
  color: white;
  padding: 5px;
  font-family: HarryPotter;
  font-size: x-large;
}

#house-container {
  display: flex;
  flex-flow: row wrap;
  
  
}

#army-container {
  display: flex;
  justify-content: end;

}

#Slytherin {
  font-family: HarryPotter;
  background-color: green;
  color: silver;
}

#Hufflepuff {
  font-family: HarryPotter;
  background-color: yellow;
  color: black;
}

#Gryffindor {
  font-family: HarryPotter;
  background-color: gold;
  color: red
}

#Ravenclaw {
  font-family: HarryPotter;
  background-color: blue;
  color: brown;
}

#select-all {
  font-family: HarryPotter;
  background-color: white;
  color: black;
}

a {
  font-family: HarryPotter;
  background-color: black;
  color: white;
}

img[alt="death-eater"] {
  background-color: black;
}

.card {
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: HarryPotter;
  font-size: larger;
}

#submit-btn {
  font-family: HarryPotter;
  background-color: white;
  color: green;
  font-size: x-large;
}
